h2 {
    color: white;
    background-color: black;
    width: 300px;
    height: 1.5em;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;

}

.container {
    margin-top: 10%;
    margin-left: 40%;
}

.color {
    color: blue;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;

}